<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery">    
    <pipelines>
      <mvc.customizeRendering>
        <processor patch:instead="*[@type='Sitecore.Mvc.Analytics.Pipelines.Response.CustomizeRendering.Personalize, Sitecore.Mvc.Analytics']" type="BasLijten.Foundation.Personalization.Pipelines.FixPersonalize, BasLijten.Foundation.Personalization" />
      </mvc.customizeRendering>
    </pipelines>
  </sitecore>
</configuration>